/* navbar  */



.navbar-toggler {
    border-color: transparent !important;
}


/* Slider  */

.card{
    border-color: transparent !important;
}

.card-title{
    color: #231D4F;
    
}

.fa-square-caret-right{
    color: #5243C2 ;
}

